In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("celestial_train.csv")
df.head()

,id,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID,class
0,0,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,0.634794,5812,56354,171,GALAXY
1,1,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,0.779136,10445,58158,427,GALAXY
2,2,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,0.932346,9149,58039,775,GALAXY
3,3,340.995121,20.589476,23.48827,23.33776,21.32195,20.25615,19.54544,8102,301,3,110,5.658977e+18,1.424659,5026,55855,741,QSO
4,4,200.290475,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,0.660012,6625,56386,719,GALAXY

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           50000 non-null  int64
 1   alpha        50000 non-null  float64
 2   delta        50000 non-null  float64
 3   u            50000 non-null  float64
 4   g            50000 non-null  float64
 5   r            50000 non-null  float64
 6   i            50000 non-null  float64
 7   z            50000 non-null  float64
 8   run_ID       50000 non-null  int64
 9   rerun_ID     50000 non-null  int64
 10  cam_col      50000 non-null  int64
 11  field_ID     50000 non-null  int64
 12  spec_obj_ID  50000 non-null  float64
 13  redshift     50000 non-null  float64
 14  plate        50000 non-null  int64
 15  MJD          50000 non-null  int64
 16  fiber_ID     50000 non-null  int64
 17  class        50000 non-null  object
dtypes: float64(9), int64(8), object(1)
memory usage: 6.9+ MB